<div id="notification"></div>
<div class="container" id="class-body">
    <div class="row">
        <div class="col-12">
            <h1>Classes</h1>
        </div>
    </div>
<input id="class-search" type="text" placeholder="Search classes" >
<!--put in center -->
    <div class="row" id="classes">
        <div class="col-12">
            {{#if classesExist}}
                {{#each classes}}
                    <div id="each-class">
                        <h3>{{classDate}}</h3>
                        <div>
                            <h3>{{name}}</h3>
                            <p>Instructor: {{instructorName}}</p> <!-- May be more than one instructor (?) -->
                            <p>Description: {{description}}</p>
                            <p>Price: ${{price}}/class </p>
                            <form class="jump" action=""> 
                                <button class= "book-withdraw" data-id="{{id}}" type="submit" value="Book Now">
                                    Book Now
                                </button>
                            </form>
                            <form class="jump" action=""> 
                                <button class= "view-reviews" data-id="" type="submit" value="View Review">
                                    View Review
                                </button>
                            </form> 
                        </div>
                    </div>
                {{/each}}
            {{else}}
            <div class="no-classes-message">
                <h3>There are currently no classes</h3>    
                <p id="no-classes-para">Please check in again later!</p>                 
            </div>     
            {{/if}}   
        </div>
    </div>
</div>

<!-- Modal for booking confirmation -->
<div id="booking-confirmation-modal-bg" class="modal-bg">
    <div class="add-review-modal">
        <div class="booking-confirmation-review-div">
            <div class="booking-confirmation-heading">
                <i class="fas fa-question-circle fa-3x"></i>
                <h4>Confirmation</h4>
                <p>Are you sure you want to book this class?</p>
            </div>
            <div class="confirmation-btn-div">
                <button id="booking-go-back" class="confirm-btn" type="submit">Go back</button>
                <button id="booking-confirm" class="confirm-btn" type="submit">Confirm</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for withdrawal confirmation -->
<div id="withdraw-confirmation-modal-bg" class="modal-bg">
    <div class="add-review-modal">
        <div class="withdraw-confirmation-review-div">
            <div class="withdraw-confirmation-heading">
                <i class="fas fa-question-circle fa-3x"></i>
                <h4>Confirmation</h4>
                <p>Are you sure you want to withdraw from this class?</p>
            </div>
            <div class="confirmation-btn-div">
                <button id="withdraw-go-back" class="confirm-btn" type="submit">Go back</button>
                <button id="withdraw-confirm" class="confirm-btn" type="submit">Confirm</button>
            </div>
        </div>
    </div>
</div>

<!-- Error message modal --> 
<div id="error-modal-bg" class="modal-bg">
    <div class="add-review-modal">
        <div class="error-modal-div">
            <div class="error-heading">
                <i class="fas fa-times-circle fa-3x"></i>                
                <h4>Oops!</h4>
                <p>
                    An error occurred whilst handling your request.<br>
                    Please refresh the page or try again later.
                </p>
            </div>
            <div class="nav-btn-div">
                <button id="error-ok-btn" class="confirm-btn" type="submit">Okay</button>
            </div>
        </div>
    </div>
</div>

