<header>
    <nav id="index-navbar" class="navbar navbar-expand-lg navbar-light col-12">
        <a class="navbar-brand" href="">Gym Name</a>
        <button id="index-nav-toggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
                    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="index-link" class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/classes">Classes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reviews">Reviews</a>
                </li>
                <li class="nav-item">
                    <a id="profile-link" class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login"><span id="log-in-out">Log In</span></a>
                </li>
            </ul>
        </div>  
    </nav>
</header>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Classes</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{#each classes}}
                <div>
                    <h3>{{startTime}}</h3>
                    <div>
                        <h3>{{name}}</h3>
                        <p>Instructuor: {{instructorName}}</p> <!-- May be more than one instructor (?) -->
                        <p>Description: {{description}}</p>
                        <p>Price: $<!-- {{price}} --> </p>
                        <form action=""> 
                            <button type="submit" value="Book Now">
                                Book Now
                            </button>
                        </form>
                        <a>View Reviews</a>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>