<div id="notification"></div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Classes</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            {{#each classes}}
                <div>
                    <h3>{{classDate}}</h3>
                    <div>
                        <h3>{{name}}</h3>
                        <p>Instructuor: {{instructorName}}</p> <!-- May be more than one instructor (?) -->
                        <p>Description: {{description}}</p>
                        <p>Price: ${{price}}/class </p>
                        <form action=""> 
                            <button class= "book-withdraw" data-id="{{id}}" type="submit" value="Book Now">
                                Book Now
                            </button>
                        </form>
                        <a>View Reviews</a>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>