<div class="profile-container container">
    <div class="row">
        <div class="profile-heading col-12">
            <h1>Profile</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="user-info">
                <h2>{{firstName}} {{lastName}}</h2>
                <h5>{{userType}}</h5>
                <p>
                    <strong>Email:</strong> {{email}}<br>
                    <strong>Date joined: </strong>{{dateJoined}}
                <p>
            </div>
         </div>
    </div> 

    <div class="row">
        <div class="col-12">
            <div class="my-classes">
                <div class="row">
                    <div class="col-12">
                        <div class="classes-heading">
                            <h3>My Classes</h3>
                        </div>
                    </div>
                </div>
                <!-- Render Member/Instructor's current classes -->
                {{#if instructor}}
                    {{#if hasClasses}}
                        <form action="/add-class"> 
                            <button id="add-class-btn" type="submit" value="addClass">
                                Create a class
                            </button>
                        </form>
                        {{#each instructorClasses}}
                        <div class="instructor-class">
                            <div class="single-class-heading">
                                <h4><span class="class-name-span">{{name}}</span> <span class="class-date-span">{{classDate}}</span></h4>
                            </div>
                            <p>Description: {{description}}</p>
                            <p>Price: ${{price}}/class </p>
                            <a href="">Delete</a> | <a href="">Edit</a>
                        </div>
                        {{/each}}
                    {{else}}
                        <h3>You currently have no classes</h3>
                        <form action="/add-class"> <!-- For instructosr with no classes -->
                            <input type="submit" value="Create Class">
                        </form>
                    {{/if}}
                {{/if}}
                {{#if member}}
                    {{#if hasClasses}}
                        {{#each memberClasses}}
                        <div class="member-class">
                            <div class="single-class-heading">
                                <h4><span class="class-name-span">{{name}}</span> <span class="class-date-span">{{classDate}}</span></h4>
                            </div>
                            <table class="member-class-table">
                                <tr>
                                    <td class="table-row-one">
                                        <p>INSTRUCTOR:</p>
                                    </td>
                                    <td class="table-row-two">
                                        <p>{{classInstructor}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-row-one">
                                        <p>DESCRIPTION:</p>
                                    </td>
                                    <td class="table-row-two">
                                        <p>{{description}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-row-one">
                                        <p>COST PER CLASS:</p>
                                    </td>
                                    <td class="table-row-two">
                                        <p>${{price}}</p>
                                    </td>
                                </tr>                            </table>
                            {{!-- <h5>Class Instructor: {{classInstructor}}</h5>
                            <p>Description: {{description}}</p>
                            <p>Price: ${{price}}/class </p> --}}
                            <form action=""> 
                                <button id="cancel-btn" type="submit" class = "withdraw" data-id="{{id}}">
                                    Cancel booking
                                </button>
                            </form>
                        </div>
                        {{/each}}
                    {{else}}
                        <h3>You currently have no booked classes</h3>
                        <form action="/classes">
                            <input type="submit" value="View Classes">
                        </form>
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </div>
</div>