<header>
    <nav id="index-navbar" class="navbar navbar-expand-lg navbar-light col-12">
        <a class="navbar-brand" href="">Gym Name</a>
        <button id="index-nav-toggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
                    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="index-link" class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/classes">Classes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reviews">Reviews</a>
                </li>
                <li class="nav-item">
                    <a id="profile-link" class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login"><span id="log-in-out">Log In</span></a> <!-- This should change to Log Out -->
                </li>
            </ul>
        </div>  
    </nav>
</header>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Profile</h1>
        </div>
    </div>
    <!-- Not sure how to render data for a specific person using handlebars e.g. where id = 5 -->
    <div class="row">
        <div class="col-12">
            <h2>{{firstName}}{{lastName}}</h2><!-- Member/Admin name-->
            <h3>{{userType}}</h3>
            <p>Email: {{email}}<p>
            <p>Date joined: {{dateJoined}}</p>
         </div>   <!-- Add other info here later e.g. email, phone, etc. -->
    </div> 

    <div class="row">
        <div class="col-12">
            <h3>My Classes</h3>
            <!-- Render Member/Admin's current classes -->
            <!-- If no classes, show message and either one of the buttons below -->
            <form action=""> <!-- For members with no booked classes -->
                <input type="submit" value="Book Now">
            </form>
            <form action=""> <!-- For admins with no classes -->
                <input type="submit" value="Create Class">
            </form>
        </div>
    </div>
</div>