<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Profile</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="user-info">
                <h2>{{firstName}} {{lastName}}</h2>
                <h5>{{userType}}</h5>
                <p>
                    <strong>Email:</strong> {{email}}<br>
                    <strong>Date joined: </strong>{{dateJoined}}
                <p>
            </div>
         </div>
    </div> 

    <div class="row">
        <div class="col-12">
            <div class="my-classes">
                <div class="row">
                    <div class="classes-heading">
                        <div class="col-1"></div>
                        <div class="col-6">
                            <h3>My Classes</h3>
                        </div>
                        <div class="col-4">
                            <form action=""> 
                                <button id="add-class-btn" type="submit" value="addClass">
                                    Create a class
                                </button>
                            </form>
                            {{!-- <a id="add-class-link" href="/add-class">Create a class</a> --}}
                        </div>
                        <div class="col-1"></div>
                    </div>
                </div>
                <!-- Render Member/Admin's current classes -->

                {{#if instructor}}
                    {{#if hasClasses}}
                        {{#each instructorClasses}}
                        <div class="instructor-class">
                            <h4>{{name}} | {{classDate}}</h4>
                            <p>Description: {{description}}</p>
                            <p>Price: ${{price}}/class </p>
                            <a href="">Delete</a> | <a href="">Edit</a>
                        </div>
                        {{/each}}
                    {{else}}
                        <h3>You currently have no classes</h3>
                        <form action="/add-class"> <!-- For admins with no classes -->
                            <input type="submit" value="Create Class">
                        </form>
                    {{/if}}
                {{/if}}
                {{#if member}}
                    {{#if hasClasses}}
                        {{#each memberClasses}}
                        <div class="member-class">
                            <h4>{{name}} | {{classDate}}</h4>
                            <h5>Class Instructor: {{classInstructor}}</h5>
                            <p>Description: {{description}}</p>
                            <p>Price: ${{price}}/class </p>
                            <!-- These forms pop up when class is over -->
                            <form action=""> 
                                <button type="submit" value="classReview">
                                    Leave a class review
                                </button>
                            </form>
                            <form action=""> 
                                <button type="submit" value="instructorReview">
                                    Leave an instructor review
                                </button>
                            </form>
                            <form action=""> 
                                <button type="submit" class = "withdraw" data-id="{{id}}">
                                    Cancel booking
                                </button>
                            </form>
                        </div>
                        {{/each}}
                    {{else}}
                        <h3>You currently have no booked classes</h3>
                        <form action="/classes">
                            <input type="submit" value="View Classes">
                        </form>
                    {{/if}}
                {{/if}}
            </div>
        </div>
    </div>
</div>