<header>
    <nav id="index-navbar" class="navbar navbar-expand-lg navbar-light col-12">
        <a class="navbar-brand" href="">Gym Name</a>
        <button id="index-nav-toggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
                    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="index-link" class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/classes">Classes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reviews">Reviews</a>
                </li>
                <li class="nav-item">
                    <a id="profile-link" class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout"><span id="log-in-out">Log Out</span></a> <!-- This should change to Log Out -->
                </li>
            </ul>
        </div>  
    </nav>
</header>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Profile</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2>{{firstName}} {{lastName}}</h2>
            <h5>{{userType}}</h5>
            <p>Email: {{email}}<p>
            <p>Date joined: {{dateJoined}}</p>
         </div>
    </div> 

    <div class="row">
        <div class="col-12">
            <h3>My Classes</h3><a href="/add-class">Create a class</a>
            <!-- Render Member/Admin's current classes -->
            {{#if instructor}}
                {{#if hasClasses}}
                    {{#each instructorClasses}}
                    <div>
                        <div>
                            <h4>{{name}}, {{classDate}}</h4>
                            <p>Description: {{description}}</p>
                            <p>Price: ${{price}}/class </p>
                            <form action=""> 
                                <button type="submit" value="Delete">
                                    Delete
                                </button>
                            </form>
                            <a href="/reviews">View Reviews</a>
                        </div>
                    </div>
                    {{/each}}
                {{else}}
                    <h3>You currently have no classes</h3>
                    <form action="/add-class"> <!-- For admins with no classes -->
                        <input type="submit" value="Create Class">
                    </form>
                {{/if}}
            {{/if}}
            {{#if member}}
                {{#if hasClasses}}
                    {{#each memberClasses}}
                    <div>
                        <div>
                            <h4>{{name}}, {{classDate}}</h4>
                            <h5>Class Instructor: {{classInstructor}}</h5>
                            <p>Description: {{description}}</p>
                            <p>Price: ${{price}}/class </p>
                            <!-- These forms pop up when class is over -->
                            <form action=""> 
                                <button type="submit" value="classReview">
                                    Leave a class review
                                </button>
                            </form>
                            <form action=""> 
                                <button type="submit" value="instructorReview">
                                    Leave an instructor review
                                </button>
                            </form>
                        </div>
                    </div>
                    {{/each}}
                {{else}}
                    <h3>You currently have no booked classes</h3>
                    <form action="/classes">
                        <input type="submit" value="View Classes">
                    </form>
                {{/if}}
            {{/if}}
        </div>
    </div>
</div>