<header>
    <nav id="index-navbar" class="navbar navbar-expand-lg navbar-light col-12">
        <a class="navbar-brand" href="">Gym Name</a>
        <button id="index-nav-toggler" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
                    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="index-link" class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/classes">Classes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/reviews">Reviews</a>
                </li>
                <li class="nav-item">
                    <a id="profile-link" class="nav-link" href="/profile">Profile</a>
                </li>
                {{#if loggedIn}}
                <li class="nav-item">
                    <a class="nav-link" href="/logout"><span id="log-in-out">Log Out</span></a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a class="nav-link" href="/login"><span id="log-in-out">Log In</span></a>
                </li>
                {{/if}}
            </ul>
        </div>  
    </nav>
</header>

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Reviews</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form class="search">
                <label for="review-search">Find Class/Instructor Reviews</label> <!-- Dynamically switch between 'class'/'instructor depending on user selection -->
                <input id="review-search" name="review-search" type="text" placeholder="">
                <button type="submit">Search</button>
            </form>
            <form class="toggleswitch">
                <label for="t1">Class Reviews</label>
                <input id="t1" name="review-type" type="radio" checked>
                <label for="t2">Instructor Reviews</label>
                <input id="t2" name="review-type" type="radio">
            </form>
        </div>
    </div>
    {{!-- {{#each classes}}
        <div class="row">
            <div class="col-12">
                <h2>{{this.name}}</h2>
            </div>
        </div> --}}
        {{#if classReviewsExist}}
            <h2>Class Reviews</h2>
            {{#each gymClasses}}
                <h3>{{className}}</h3>
                {{#each classReviews}}
                    <div class="row">
                        <div class="class-review col-5">
                        <h4>{{title}}</h4>
                        <h4>Rating: {{rating}}</h4>
                        <h6>{{author}}</h6>
                        <p>{{review}}</p>
                        </div>
                    </div>
                {{/each}}
            {{/each}}
        {{else}}
            <h2>No existing class reviews.</h2>
        {{/if}}
        <h2>Instructor Reviews</h2>
        {{#each instructorReviews}} 
           
            <div class="row">
                <div class="individual-review col-5">               
                <h3>{{title}}</h3>
                <h4>Rating: {{rating}}</h4>
                <h4>{{review}}</h4>
                </div>
            </div>
        {{/each}}
   
</div>