<div class="align-items-center review-background-hero">
<div class="container" id="review-body">
    {{!-- <div class="row">
        <div class="col-12">
            <h1>Reviews</h1>
        </div>
    </div> --}}
    <div class="row">
        <div class="col-12">
            <div class="review-toggle">
                <button id="class-toggle" class="toggle" type="submit">Classes</button>
                <button id="instructor-toggle" class="toggle" type="submit">Instructors</button>
            </div>
            {{!-- <form class="search">
                <input id="review-search" name="review-search" type="text" placeholder="">
                <button type="submit">Search</button>
            </form> --}}
        </div>
    </div>
</div>

<div id="class-reviews" class="container review-container">
    {{#if classReviewsExist}}
        <div class="row top-part">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                <div class="review-heading class-heading">
                    <h3>Class Reviews</h3>
                </div>
            </div>
            {{#if isNotInstructor}}
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                <button id="add-class-review-link" class="add-review">Write a review</button>
            </div>
            {{/if}}
            <div class="form-group dropdown">
                <div class="filter-div">
                    <label for="filter-class">Class: </label>
                    <select name="filter-class" id="filter-class">
                    </select>
                </div>
                <div class="filter-div">
                    <label for="filter-rating">Rating: </label>
                    <select name="filter-rating" id="filter-class-rating">
                    </select>
                </div>
                <div class="filter-div">
                    <button type="button" id="clear-filter-class" class="clear-filter">Clear all filters</button>
                </div>
            </div>
        </div>
        <div>
        {{#each gymClasses}}
        <div>
            <div class="row">
                <div class="col-12">
                    <div class="class-name">
                        <h4>{{className}}</h4>
                    </div>
                </div>
            </div>
            {{#each classReviews}}
                <div class="row">
                    <div class="col-12">
                        <div class="review-div">
                            <h6 class="class-review-title">{{title}}</h6>
                            <h6 class="review-rating">
                                {{#if ratingOne}}
                                <span class="rating-one" data-id="1 Star">
                                    <i class="fas fa-star"></i>
                                </span>
                                {{else}}
                                {{#if ratingTwo}}
                                <span class="rating-two" data-id="2 Stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                                {{else}}
                                {{#if ratingThree}}
                                <span class="rating-three" data-id="3 Stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                                {{else}}
                                {{#if ratingFour}}
                                <span class="rating-four" data-id="4 Stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                                {{else}}
                                <span class="rating-five" data-id="5 Stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                                {{/if}}
                                {{/if}}
                                {{/if}}
                                {{/if}}
                            </h6>
                            <p class="author">{{author}}</p>
                            <p class="review-text">{{review}}</p>
                        </div>
                    </div>
                </div>
            {{/each}}
            </div>
        {{/each}}
        </div>
    {{else}}
        <div class="no-reviews-message">
            <h3>There are currently no class reviews</h3>                      
        </div>    
    {{/if}}
</div>
<div id="instructor-reviews" class="container review-container" style="display: none">
    {{#if instructorReviewsExist}}
        <div class="row top-part">
            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                <div class="review-heading instructor-heading">
                    <h3>Instructor Reviews</h3>
                </div>
            </div>
            {{#if isNotInstructor}}
            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                <button id="add-instructor-review-link" class="add-review">Write a review</button>
            </div>
            {{/if}}
            <div class="form-group dropdown">
                <div class="filter-div">
                    <label for="filter-class">Instructor: </label>
                    <select name="filter-class" id="filter-instructor">
                    </select>
                </div>
                <div class="filter-div">
                    <label for="filter-rating">Rating: </label>
                    <select name="filter-rating" id="filter-instructor-rating">
                    </select>                
                </div>
                <div class="filter-div">
                    <button type="button" id="clear-filter-instructor" class="clear-filter">Clear all filters</button>
                </div>
            </div>
        </div>
        <div>
        {{#each instructors}}
        <div>
            <div class="row">
                <div class="col-12">
                    <div class="instructor-name">
                        <h4>{{instructorName}}</h4>
                    </div>
                </div>
            </div>
            {{#each instructorReviews}}
                <div class="row">
                    <div class="col-12">
                        <div class="review-div">
                            <h6 class="instructor-review-title">{{title}}</h6>
                            <h6 class="review-rating">
                                {{#if ratingOne}}
                                <span class="rating-one" data-id ="1 Star">
                                    <i class="fas fa-star"></i>
                                </span>
                                {{else}}
                                {{#if ratingTwo}}
                                <span class="rating-two" data-id="2 Stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                                {{else}}
                                {{#if ratingThree}}
                                <span class="rating-three" data-id="3 Stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                                {{else}}
                                {{#if ratingFour}}
                                <span class="rating-four" data-id="4 Stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                                {{else}}
                                <span class="rating-five" data-id="5 Stars">
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                                {{/if}}
                                {{/if}}
                                {{/if}}
                                {{/if}}
                            </h6>
                            <p class="author">{{author}}</p>
                            <p class="review-text">{{review}}</p>
                        </div>
                    </div>
                </div>
            {{/each}}
            </div>
        {{/each}}
        </div>
    {{else}}
        <div class="no-reviews-message">
            <h3>There are currently no instructor reviews</h3>                      
        </div>
    {{/if}}
</div>


<!-- Modal for adding class reviews -->
<div id="class-modal-bg" class="modal-bg">
    <div class="add-review-modal">
        <div class="add-review-div">
            <div class="modal-heading">
                <h4>Leave a review</h4>
                <i id="exit-class-review" class="exit-review-add fas fa-times"></i>
            </div>
            <form class="add-review-form">
                <div class="form-group dropdown">
                    <label for="class-reviews-list">Choose a class: </label>
                    <select name="class-reviews-list" id="class-reviews-list">
                        <!-- <option> dynamically rendered --> 
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="class-review-title-input" placeholder="Title" max-length="50" required>
                    <div class="input-note">*Max. 50 characters</div>
                </div>
                <div class="form-group">
                    <i class="rate-star-c fas fa-star" id="star-one-c"></i>
                    <i class="rate-star-c fas fa-star" id="star-two-c"></i>
                    <i class="rate-star-c fas fa-star" id="star-three-c"></i>
                    <i class="rate-star-c fas fa-star" id="star-four-c"></i>
                    <i class="rate-star-c fas fa-star" id="star-five-c"></i>
                </div>
                <div class="form-group">
                    <textarea style="resize: none" class="form-control" id="class-review-text-input" placeholder="Describe your experience with us" maxlength="250" required></textarea>
                    <div class="input-note">*Max. 250 characters</div>
                </div>
                <div class="add-btn-div">
                    <button type="submit" id="add-class-review" class="add-review-btn btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal for adding instructor reviews -->
<div id="instructor-modal-bg" class="modal-bg">
    <div class="add-review-modal">
        <div class="add-review-div">
            <div class="modal-heading">
                <h4>Leave a review</h4>
                <i id="exit-instructor-review" class="exit-review-add fas fa-times"></i>
            </div>
            <form class="add-review-form">
                <div class="form-group dropdown">
                    <label for="instructor-reviews-list">Choose an instructor: </label>
                    <select name="instructor-reviews-list" id="instructor-reviews-list">
                        <!-- Dynamically render instructor options -->
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="instructor-review-title-input" placeholder="Title" maxlength="50" required>
                    <div class="input-note">*Max. 50 characters</div>
                </div>
                <div class="form-group">
                    <i class="rate-star-i fas fa-star" id="star-one-i"></i>
                    <i class="rate-star-i fas fa-star" id="star-two-i"></i>
                    <i class="rate-star-i fas fa-star" id="star-three-i"></i>
                    <i class="rate-star-i fas fa-star" id="star-four-i"></i>
                    <i class="rate-star-i fas fa-star" id="star-five-i"></i>
                </div>
                <div class="form-group">
                    <textarea style="resize: none" class="form-control" id="instructor-review-text-input" placeholder="Describe your experience with us" maxlength="250" required></textarea>
                    <div class="input-note">*Max. 250 characters</div>
                </div>
                <div class="add-btn-div">
                    <button type="submit" id="add-instructor-review" class="add-review-btn btn btn-default">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Modal for review confirmation -->
<div id="confirmation-modal-bg" class="modal-bg">
    <div class="add-review-modal">
        <div class="confirmation-review-div">
            <div class="confirmation-heading">
                <i class="fas fa-question-circle fa-3x"></i>
                <h4>Confirmation</h4>
                <p>Are you sure you want to leave this review?</p>
            </div>
            <div class="confirmation-review">
                <!-- Dynamically render review info -->
            </div>
            <div class="confirmation-btn-div">
                <button id="go-back" class="confirm-btn" type="submit">Go back</button>
                <button id="confirm-review" class="confirm-btn" type="submit">Confirm</button>
            </div>
        </div>
    </div>
</div>

<!-- Success message modal --> 
<div id="success-modal-bg" class="modal-bg">
    <div class="add-review-modal">
        <div class="success-modal-div">
            <div class="success-heading">
                <i class="fas fa-check-circle fa-3x"></i>
                <h4>Thank you!</h4>
                <p>We really take your feedback to heart and strive to improve everyday.</p>
            </div>
            <div class="nav-btn-div">
                <button id="ok-success" class="confirm-btn" type="submit">Confirm</button>
            </div>
        </div>
    </div>
</div>

<!-- Error message modal --> 
<div id="error-modal-bg" class="modal-bg">
    <div class="add-review-modal">
        <div class="error-modal-div">
            <div class="error-heading">
                <i class="fas fa-times-circle fa-3x"></i>                
                <h4>Oops!</h4>
                <p>
                    An error occurred whilst handling your request.<br>
                    Please refresh the page or try again later.
                </p>
            </div>
            <div class="nav-btn-div">
                <button id="error-ok-btn" class="confirm-btn" type="submit">Okay</button>
            </div>
        </div>
    </div>
</div>

<!-- Input error message modal --> 
<div id="input-error-modal-bg" class="modal-bg">
    <div class="add-review-modal">
        <div class="input-error-modal-div">
            <div class="input-error-heading">
                <p>
                    Please include a title, rating and text in your review.
                </p>
            </div>
            <div class="nav-btn-div">
                <button id="input-error-ok-btn" class="confirm-btn" type="submit">Okay</button>
            </div>
        </div>
    </div>
</div>


</div>
